.bmiCard{
    margin : 10% 30%;
    border: 1px solid black;
    height: 380px;
    width: 50%;
}
.p4{
    display: flex;
    justify-content: center;
    background-color: purple;
}
.btn{
    display: flex;
    justify-content: center;
    height: 40px;
}
#disH{
    border-radius: 20px;
    width: 15%;
    background-color: purple;
    color: white;
    border: 1px solid purple;
}
.body{
    text-align: center;
}

input{
    width: 70%;
}
.weight,.height{
    padding-left: 20px;
    text-align:left ;
}
